body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------ Navbar */

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    
}

.navbar-dark .navbar-brand {
    color: aqua;
}

ul .navbar-nav {
    text-align: left;
}

.collapse-content {
    width: 100%;
}

button.navbar-toggler {
    margin-right: 1.5rem;
}

/* ------------------------------------------------------ Main-page */
.main-page {
    width: 100%;
    height: 100vh;
    background-color: blue;

    background: url("../images/marco-chilese.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------------------------------ Famous-places */

.famous-places h2 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.famous-places-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.famous-places-body img {
    width: 600px;
    height: 450px;
}

.famous-places-body button {
    color: #6c757d;;
}

.famous-places-p-one,
.famous-places-p-two,
.famous-places-p-three {
    padding: 20px 10px;
    text-align: justify;
}



/* ------------------------------------------------------ Map */

#map {
    width: 100%;
    height: 400px;
}

#map-page h2 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

.map-btn {
        margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.map-btn ul {
        margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: table;
    padding: 15px 15px;
}

/* ------------------------------------------------------ Footer */

footer {
    min-height: 120px;
    margin-top: 30px;
    background-color: rgb(87, 77, 77);
    color: #fafafa;
}

footer h5 {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.social-links {
    padding: 20px 0;
        padding: 20px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------ Screen sizes */

@media screen and (max-width: 480px) {

    .famous-places-body {
        text-align: center;
    }

    .famous-places img {
        width: 300px;
        height: 200px;
    }

    #map-page h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

   
}